*{
    margin:0;
    padding:0;
    border:0;
}
body{
    font-family:Lato;
    color: #777;
}
h2{
    font-family: Oswald;
    text-transform:uppercase;
    color:#555555;
    letter-spacing:4px
}
#logo{
    float:left;
    font-size:280%
}

    
#Nav{
    font: size 110%;
    list-style-type: none;
    letter-spacing: 4px;
}
#logo, #Nav{
line-height:75px;
}
#Nav li{
    float:right;
    margin-right:30px;

}
#Nav a:hover{
    border-bottom:#777777 1px solid
}
#Nav a {
text-decoration:none;
color:inherit;
}
.active{
    border-bottom:#777777 1px solid
}
ul {
    display: flex;
    flex-direction:row-reverse;
  }
 
#hero-image{
    height:600px;
    width:100%;
    background-image:url("https://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/main-image.png");
    background-repeat: no-repeat;
    background-position: center;
    animation-name:hero-zoom;
    animation-duration:5s;
    animation-fill-mode:forwards;
}
#hero-outer{
    height:600px;
    width:100%;
    overflow:hidden;
    position: relative;
}
@keyframes hero-zoom{
    from{
        transform:scale(1);
    }
    to{
        transform:scale(1.1);
    }
}
#cover-text, #cover-text h2{
color:#ffffff;
}
#cover-text{
    font-size:130%;
    font-family:Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;
    
    width:300px;
    height:200px;

    padding-top:40px;
    padding-left:10px;
    background-color: rgba(214,109,107, .7);
    
    bottom:30px;
    right:150px;
    
    position:absolute;

}
#core-ethos{
    height:600px;
    
}

#left-about{
    padding-top:30px;
    width:33%;
    float:left;
    
}
#right-about{
    padding-top:30px;
    width:33%;
    float:right;
    
}

#center-about{
    padding-top: 30px;
    width:33%;
    margin:0 auto;
    
}
hr{
    border-top:1px #777777 solid;
    width:100%;
    margin:5px;
}
.left-about-heading{
    width:50%;
    float:right;
    line-height:20px;
    clear:both;
    margin-bottom:50px;
}
.right-about-heading{
    width: 50%;
    float:left;
    line-height:20px;
    clear:both;
    margin-bottom:50px;
}
.right-about-heading h2{
    text-align:right;
}
.right-about-heading p{
    text-align:right;
}
#welcome{
    text-align:center;
    margin-top:20px;
    font-size:280%;
}

#circle-border{
    border:#cccccc 1px solid;
    width:300px;
    height:300px;
    padding:30px;
    border-radius:50%;
    margin:0 auto;
}

#circle-cover-bg{
    background:url("http://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/video-mask.png");
    background-position: none;
    background-position: center;
    height:100%;
    border-radius:50%;
    
}
